@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #34201B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary-50: #F5D6CA;
  --color-primary-200: #D9B2A9;
  --color-primary-400: #75493F;
  --color-primary-600: #34201B;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.mui-113d811-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: var(--foreground);
}